.gallaryPost{
    display: flex;
    justify-content: space-between;
}
.sideImageWrapper div{
    width:100%;
    height:450px;
}
.sideImageWrapper div img{
    object-fit: cover;
    max-width: 100%;
    height:150px;
}
.HomeContainer{
    display: flex;
    justify-content: space-between;
}